/deliveryPackage
/jpackage_test
/target
/target_runnable
/src/main/resources/mtw/concretecubesvalidator/Files/PlcAlarmsAndLogFiles/
/src/main/resources/mtw/concretecubesvalidator/Files/MeasurementListBackupFiles/
/src/main/resources/mtw/concretecubesvalidator/Files/logs/
/src/main/resources/mtw/concretecubesvalidator/images/
